* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    background: #f3f6fa;
}

.loginForm,
.registerForm,
.createTicketForm {
    width: 350px;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    /* Centering without flex/grid */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.registerForm {
    display: none;
}


h1 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #1E40AF;
}

form {
    display: block;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

form input:focus {
    border-color: #1E40AF;
    box-shadow: 0 0 5px rgba(30, 64, 175, 0.4);
}

h4 {
    font-size: 14px;
    color: #2f4aa1;
    margin: -5px 3px 10px 0;
    text-align: right;
    cursor: pointer;
}

.loginButton,
.issueticket,
.registerUserBtn {
    width: 100%;
    padding: 12px;
    background: #1E40AF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #16368d;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}


select {
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
}

select:focus {
    border-color: #1E40AF;
    box-shadow: 0 0 5px rgba(30, 64, 175, 0.4);
}

option {
    padding: 10px;
    background: #fff;
    color: #333;
}

.adminDash {
    display: flex;
    height: 100vh;
    background: #f4f7fb;
    font-family: "Poppins", sans-serif;
}

/* LEFT SIDEBAR */
.sect-1 {
    width: 250px;
    background: #1E40AF;
    color: white;
    padding: 30px 20px 20px 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.12);
}

.sect-1 h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
    text-align: center;
}

.sect-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sect-1 ul li {
    padding: 12px 10px;
    margin: 15px 3px 15px 3px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    cursor: pointer;
}

.sect-1 ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* RIGHT MAIN AREA */
.sect-2 {
    flex: 1;
    margin: 20px 20px 20px 0;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.sect-2 .top-box {
    width: 100%;
    background: rgb(103, 50, 165);
    border-radius: 12px;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 26px;
}


.sect-2 .bottom-box {
    width: 100%;
    height: auto;
    background: rgb(23, 130, 64);
    border-radius: 12px;
    margin-top: 25px;
    padding: 10px;
}

.ticketStructure {
    /* height: 120px;
    width: 100%;
    background: #333;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0; */
    height: 120px;
    width: 100%;
    background: #333;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 11px 0 10px 0;
}

#ticketContainer{
    /* margin: 10px 0 10px 0; */
    display: block;
}

#userConatiner {
    display: none;
}

.activeMenu {
    color: red;
}

.userStructure {
    height: 120px;
    width: 100%;
    background: #333;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.createTicketButton {
    height: auto;
    width: 100px;
    background: #1894b085;
    /* position: fixed; */
}

.crossBtn {
    position: absolute;
    text-align: right;
    color: #1E40AF;
}

.createTicketForm {
    display: none;
}

.statusContainer{
    position: absolute;
    display: none;
}

.statusContainerToggle{
    /* position: absolute; */
    display: block;
}

.statusBtn{
    color: #f3f6fa;
    /* position: absolute; */
}